.header {
    padding: 28px 64px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    align-items: center;
}

.logo {
    display: block;
    align-items: center;
    margin-right: 450px;
    width: 136px;
    height: 16px;
}

.nav {
    display: flex;
    gap: 32px;
}

.link {
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-main);
    line-height: 1.5;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover,
.link.active {
    color: var(--accent-red-hover);
}