.card {
    display: flex;
    padding: 24px;
    gap: 24px;
    border: 1px solid #dadde1;
    border-radius: 20px;
    background-color: #fff;
    max-width: 888px;
}

.image {
    width: 290px;
    height: 310px;
    object-fit: cover;
    border-radius: 10px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.name {
    font-size: 24px;
    font-weight: 600;
}

.priceFav {
    display: flex;
    align-items: center;
    gap: 12px;
}

.price {
    font-size: 20px;
    font-weight: 600;
}

.ratingLocation {
    display: flex;
    gap: 16px;
    margin: 12px 0;
    align-items: center;
}

.rating,
.location {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    color: #555;
}

.description {
    color: #555;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    margin-bottom: 12px;
}

.featuresList {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.featureItem {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #f2f4f7;
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 14px;
}

.link {
    display: inline-block;
    background-color: #e44848;
    color: white;
    padding: 10px 16px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 500;
    align-self: flex-start;
}