.detailsPage {
    margin: 48px 64px;
    font-family: 'Inter', sans-serif;

}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--dark-main);
}

.metaInfo {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-main);

}

.rating {
    display: flex;
    align-items: center;
    color: var(--dark-main);

}

.location {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--dark-main);

}

.price {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 28px;
    color: var(--dark-main);

}

.description {
    font-weight: 400;
    margin: 28px 0 60px 0;
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-muted);
}

.tabLinks {
    display: flex;
    gap: 40px;
    margin-bottom: 80px;
    justify-content: flex-start;
}

.tabLink {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-main);
    text-decoration: none;
    padding-bottom: 24px;
}

.tabLink::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: var(--accent-red);
    transition: width 0.3s ease;
}

.tabLink:hover::after {
    width: 100%;
}

.active::after {
    width: 100%;
}

.detailsLayout {
    display: flex;
    gap: 40px;
}

.leftSide {
    width: 50%;
}

.rightSide {
    width: 50%;
}