.detailsPage {
    margin: 48px 64px;
    font-family: 'Inter', sans-serif;

}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--dark-main);
}

.metaInfo {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-main);

}

.rating {
    display: flex;
    align-items: center;
    color: var(--dark-main);

}

.location {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--dark-main);

}

.price {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 28px;
    color: var(--dark-main);

}

.description {
    font-weight: 400;
    margin: 28px 0 60px 0;
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-muted);
}